.header {
   display: flex;
   padding-top: 57px;
   gap: 52px;
}

.logo {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 140px;
}

.logo p {
   color: #e4e5ea;
   font-family: Montserrat;
   font-size: 10px;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}

.nav {
   display: flex;
   flex-grow: 1;
   padding-top: 3px;
   align-items: flex-start;
   justify-content: space-between;
   gap: 47px;
   color: var(--light-text, #e4e5ea);
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}

.pages {
   display: flex;
   gap: 30px;
}

.phoneNumber {
   flex-grow: 1;
   text-align: right;
}

.socials {
   display: flex;
   gap: 30px;
}
